<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
<nav class="nojs-hide">
  <a id="back" href="javascript: window.history.go(-1)" class="link-back">Back</a>
</nav>
<main id="person-name-page">
<div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">{{title}}</h1>
    <form method="post" autocomplete="off" novalidate>
        <fieldset>
        <div class="form-group">
            <label for="grade" class="form-label">{{gradeLabel}}</label>
            <input class="form-control" id="grade" name="grade" value="{{grade}}" type="text" maxlength="30">
        </div>
        </fieldset>
        <button type="submit" class="button">Continue</button>
    </form>
    </div>
</div>