<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
<main id="home">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Personal Objectives</h1>
      <p>This service will help you to write out your yearly objectives and display them in a summary form to email to your line manager.</p>
      <p><strong class="bold-small">
        This service is session based, if you close your browser your work will dissapear. 
      </strong>
      </p>
      <a name="continue" id="button-start" class="button button-start" href="/name" role="button">Start now</a>
    </div>
  </div>