<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <nav class="nojs-hide">
    <a id="back" href="javascript: window.history.go(-1)" class="link-back">Back</a>
  </nav>
  <main id="person-name-page">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">{{title}}</h1>
        <form method="post" autocomplete="off" novalidate>
          <fieldset>
            <div class="form-group">
                {{#if hasErrorMessage}}
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        {{joiErrorMessage}}
                    </h2>
                </div>
                <label for="waste" id="error-full-name">
                    <span class="error-message">{{errorMessage.message}}</span>
                </br>
                </label>
                {{/if}}
              <label for="lineManager" class="form-label">{{lineManagerLabel}}</label>
              <input class="form-control {{#if hasErrorMessage}}form-control-error{{/if}}" id="lineManager" name="lineManager" value="{{lineManager}}" type="text" maxlength="30">
            </div>
          </fieldset>
          <button type="submit" class="button">Continue</button>
        </form>
      </div>
    </div>